.task_list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    width: fit-content;
}

.task_list>input {
    margin: 1rem;
}

.task_Completed {
    text-decoration: line-through;
}