.task__Section .container {
    display: flex;
    justify-content: center;
}

.task__Title {
    background-color: lavender;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    width: 350px;
    text-align: center;
    font-style: oblique;
}

.task__Title .task__input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.task__input>input {
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 250px;
}

svg {
    cursor: pointer;
}